<!DOCTYPE html>
<html>

<head>
    <title>Pratiksha's Books</title>
    <link rel="stylesheet" href="components.css">
    <link rel="stylesheet" href="sidebar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="mainContainer">
        <a href="../home/home.html" target="home">HOME</a>
        <a href="../books/books.html" target="home">BOOKS</a>
        <a href="../about/about.html" target="home">ABOUT</a>
    </div>
</body>

</html>