<!DOCTYPE html>
<html>

<head>
    <title>Pratiksha's Book Haven</title>
    <link rel="stylesheet" href="home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="homeContainer">
        <div class="neumorphic-container">
            <h1>Home</h1>
            <p>
                Welcome to "Pratiksha's Book Haven"! As the brainchild of Pratiksha, a dedicated BCA student with a
                passion for literature, our online bookstore is a sanctuary for book lovers. Our carefully curated
                collection spans a diverse array of genres, from timeless classics to the latest bestsellers, ensuring
                that every reader finds a literary gem to cherish.

            </p>
            <p>Happy reading!
            </p>
        </div>
    </div>
</body>

</html>