* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 100vh; /* 100% of the viewport height */
    margin: 0; /* Remove default body margin */
    background-color: #f6db35;
}

.footerTitle {
    text-align: center; /* Horizontal centering within the div */
}
