<!DOCTYPE html>
<html>

<head>
    <title>Pratiksha's Book Haven</title>
    <link rel="stylesheet" href="books.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="bookContainer">
        <!-- Sub-container 1 -->
        <div class="bookSubContainer">
            <!-- Book Cover for Sub-container 1 -->
            <img class="bookCover" src="./covers/cover1.jpg" alt="Book Cover 1">
            <!-- Book Info for Sub-container 1 -->
            <h2>The Subtle Art of Not Giving a F*ck</h2>
            <p>a book by <b>Mark Manson</b></p>
            <p>Genre: Self-Help Book</p>
            <p>Published: 2016</p>
        </div>

        <!-- Sub-container 2 -->
        <div class="bookSubContainer">
            <!-- Book Cover for Sub-container 2 -->
            <img class="bookCover" src="./covers/cover2.jpg" alt="Book Cover 2">
            <!-- Book Info for Sub-container 2 -->
            <h2>The Art of War</h2>
            <p>a book by <b>Sun Tzu</b></p>
            <p>Genre: Treatise, Non-fiction</p>
            <p>Published: 5th Century BC</p>
        </div>

        <!-- Sub-container 2 -->
        <div class="bookSubContainer">
            <!-- Book Cover for Sub-container 2 -->
            <img class="bookCover" src="./covers/cover3.jpg" alt="Book Cover 2">
            <!-- Book Info for Sub-container 2 -->
            <h2>The Richest Man in Babylon</h2>
            <p>a book by <b>George Samuel Clason</b></p>
            <p>Genre: Self-Help Book</p>
            <p>Published: 1926</p>
        </div>
        <!-- Sub-container 2 -->
        <div class="bookSubContainer">
            <!-- Book Cover for Sub-container 2 -->
            <img class="bookCover" src="./covers/cover4.jpg" alt="Book Cover 2">
            <!-- Book Info for Sub-container 2 -->
            <h2>The Alchemist</h2>
            <p>a book by <b>Paulo Coelho</b></p>
            <p>Genre: Novel, Drama, Quest, Fantasy Fiction, Adventure Fiction</p>
            <p>Published: 1988</p>
        </div>
        <!-- Sub-container 2 -->
        <div class="bookSubContainer">
            <!-- Book Cover for Sub-container 2 -->
            <img class="bookCover" src="./covers/cover5.jpg" alt="Book Cover 2">
            <!-- Book Info for Sub-container 2 -->
            <h2>Atomic Habits</h2>
            <p>a book by <b>James Clear</b></p>
            <p>Genre: Self-Help Book</p>
            <p>Published: 2018</p>
        </div>
        <!-- Sub-container 2 -->
        <div class="bookSubContainer">
            <!-- Book Cover for Sub-container 2 -->
            <img class="bookCover" src="./covers/cover6.jpg" alt="Book Cover 2">
            <!-- Book Info for Sub-container 2 -->
            <h2>Fifty Shades Of Grey</h2>
            <p>a book by <b>E. L. James</b></p>
            <p>Genre: Erotic Romance</p>
            <p>Published: 2011</p>
        </div>

        <!-- Add more sub-containers as needed -->
    </div>
</body>

</html>