/* home.css */
/* Add styles for the neumorphic container */
body {
    background-color: #ff92e8;
}
.aboutContainer {
    display: flex;
    justify-content: center; /* Center horizontally within the viewport */
    align-items: center; /* Center vertically within the viewport */
    height: 90vh; /* Ensure homeContainer covers the full viewport height */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    /* Set the background color of homeContainer */
}

.neumorphic-container {
    display: flex;
    flex-direction: column; /* Stack child elements (text) vertically */
    justify-content: center; /* Center-align the child elements vertically */
    align-items: center; /* Center-align the text horizontally */
    background-color: #f0f0f0; /* Background color for the container */
    padding: 20px; /* Adjust padding as needed */
    border-radius: 10px; /* Adjust border-radius for the neumorphic effect */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4),
        /* Darker shadow */ -5px -5px 15px rgba(0, 0, 0, 0.4); /* Lighter shadow */
    font-family: 'Poppins', sans-serif; /* Use the imported font */
    width: 800px;
    height: 300px; /* Adjust the width as desired */
    text-align: center; /* Center-align the text horizontally */
}
