<!DOCTYPE html>
<html>

<head>
    <title>Pratiksha's Book Haven</title>
    <link rel="stylesheet" href="about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="aboutContainer">
        <div class="neumorphic-container">
            <h1>ABOUT</h1>
            <p>At Pratiksha's Book Haven, we believe in the transformative power of reading and the community it builds.
                We're excited to share our passion with you and be a part of your reading journey. Welcome to our haven
                of words, where every page is an opportunity to explore new worlds and ideas.</p>
        </div>
    </div>
</body>

</html>